<%- include('../partials/header') %>
<div class="container" id="addPost">
    <h1>Create NEW Memory </h1>
    <form action="/new" method="POST" enctype="multipart/form-data">
       <div class="form-group mb-3">
        <textarea required class="form-control rounded" rows="5" name="memory" id="memory" placeholder="any memory"></textarea>
       </div>
       <div class="form-group mb-3">
        <input class="form-control rounded" required type="file" alt="image" id="img" name="image" placeholder="insert an image link">
        <!-- <input class="form-control rounded" type="text" alt="image" id="img" name="img" placeholder="insert an image link"> -->
       </div>
       <div class="form-group mb-3 d-flex justify-content-center">
        <input class="form-control rounded btn btn-success btn-sm" required type="submit" value="Submit">
       </div>
       
        
</div>
   
        
    </form>


    <%- include('../partials/footer') %>
