<%- include('../partials/header') %>
<div class="container mx-auto w-25 ">
    <h1>Create NEW Memory </h1>
    <form action="/new" method="post">
       <div class="form-group mb-3">
        <textarea class="form-control rounded" rows="5" name="memory" id="memory" placeholder="any memory"></textarea>
       </div>
       <div class="form-group mb-3">
        <input class="form-control rounded" type="text" alt="image" id="img" name="img" placeholder="insert an image link">
       </div>
       <div class="form-group mb-3 d-flex justify-content-center">
        <input class="form-control rounded btn btn-success btn-sm" type="submit" value="Submit">
       </div>
       
        
</div>
   
        
    </form>


    <%- include('../partials/footer') %>
