<%- include('../partials/header.ejs') %>

   <div class="showPostContainer container">

    <img class="showPostImg W-50"  id="postImg"  src="<%= post.img %>" alt="">
    <p class="showPostMemory">
        <%= post.memory  %>
    </p>
   </div>
  
<%- include('../partials/footer.ejs') %>
