

.likesCommentsShares,.likesCmntShareCount{
  display: flex;
  justify-content: space-between;
}

body{
    background-color: aliceblue;
    /* background-color: blue !important; */
   
}

.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
}


.container.signUpForm{
  margin-top: 100px !important;
}

.showPostContainer{
  width: 600px !important;
  margin:  0 auto !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.showPostContainer .showPostImg{
  width: 450px !important;
  height: 300px !important;
}

#userProfile, #signUpForm, #activeUserProfile, #showPosts, #addPost, #loginForm{
  width: 50%;
  margin-top: 100px !important; 
}