

.likesCommentsShares,.likesCmntShareCount{
  display: flex;
  justify-content: space-between;
}

body{
    background-color: aliceblue;
    /* background-color: blue !important; */
   
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  margin: 0px 50px !important;
  z-index: 1;
}


.container.signUpForm{
  margin-top: 100px !important;
}

.showPostContainer{
  width: 600px !important;
  margin:  0 auto !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.showPostContainer .showPostImg{
  width: 450px !important;
  height: 300px !important;
}

#userProfile, #signUpForm, #activeUserProfile, #showPosts{
  margin-top: 100px !important; 
}