<%- include('../../partials/header') %>
<div class="container  mx-auto" id="signUpForm" >
    <% if(userExistMsg){ %>
        <h3 id="userExist" class="alert alert-danger"> <%= userExistMsg %></h3>
        <script>
            setTimeout(() => {
               const existUser = document.getElementById('userExist')
               if(existUser) existUser.style.display = "none"
            }, 3000);
         </script>
        <% } %>
     
    <h1>USER SIGN UP </h1>
    <form action="/users/signup" method="post" enctype="multipart/form-data">
   
        <div class="form-group mb-3 d-flex ">
            <input class="form-control w-75 rounded" type="text" name="fname" id="fname" placeholder="your name">
            <div class="div mx-2">
                <label for="cameraBtn"> Profile pic</label>
                <img src="https://images.unsplash.com/photo-1560217930-ed5820aea22a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="cameraBtn ms-auto" id="cameraBtn">
           </div>
        </div>
            <input class="rounded" type="file"  name="image" id="img" style="display: none; width: 0;">
        
       <div class="form-group mb-3">
        <input class="form-control rounded" type="text" name="lname" id="lname" placeholder="your last name">
       </div>
     
       <div class="form-group mb-3">
        <input class="form-control rounded" type="email" alt="email" id="email" name="email" placeholder="type your email please !">
       </div>

       <div class="form-group mb-3">
        <input class="form-control rounded" type="password" alt="password" id="password" name="password" placeholder="type your password please !">
       </div>

       <div class="form-group mb-3 d-flex justify-content-center">
        <input class="form-control rounded btn btn-success btn-sm" type="submit" value="Submit">
       </div>
  
    </form>
    <a class="nav-link nav-item" href="/login">already signed up ?Log in</a>
</div>


    <%- include('../../partials/footer') %>
