<%- include('../../partials/header') %>
<div class="container  mx-auto" id="signUpForm" >
    <h1>USER SIGN UP </h1>
    <form action="/users/signup" method="post">
        <div class="form-group mb-3">
            <input class="form-control rounded" type="text" name="fname" id="fname" placeholder="your name">
        </div>
       <div class="form-group mb-3">
        <input class="form-control rounded" type="text" name="lname" id="lname" placeholder="your last name">
       </div>
     
       <div class="form-group mb-3">
        <input class="form-control rounded" type="email" alt="email" id="email" name="email" placeholder="type your email please !">
       </div>

       <div class="form-group mb-3">
        <input class="form-control rounded" type="password" alt="password" id="password" name="password" placeholder="type your password please !">
       </div>

       <div class="form-group mb-3 d-flex justify-content-center">
        <input class="form-control rounded btn btn-success btn-sm" type="submit" value="Submit">
       </div>
  
    </form>
    <a class="nav-link nav-item" href="/login">already signed up ?Log in</a>
</div>


    <%- include('../../partials/footer') %>
